@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    max-width: 1296px;
    margin: 0 auto;
}

.hero-section {
    background-image: url('/src/assets/heroCar.png');
    background-size: 50%;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

.facts-bg {
    background-image: url('/src/assets/factsBgCar.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: absolute;
    inset: 0;
    mix-blend-mode: multiply;
    z-index: -1;
  }

  